@model PetHouse.Models.Product
@{
	ViewData["Title"] = "Product Details";
}

@section Style{

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="Anil z" name="author">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
	<meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

	<!-- SITE TITLE -->
	<title>Product Details</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
	<!-- Animation CSS -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="~/css/all.min.css">
	<link rel="stylesheet" href="~/css/ionicons.min.css">
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<link rel="stylesheet" href="~/css/linearicons.css">
	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/simple-line-icons.css">
	<!--- owl carousel CSS-->
	<link rel="stylesheet" href="~/owlcarousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/owlcarousel/css/owl.theme.css">
	<link rel="stylesheet" href="~/owlcarousel/css/owl.theme.default.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<!-- jquery-ui CSS -->
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<!-- Slick CSS -->
	<link rel="stylesheet" href="~/css/slick.css">
	<link rel="stylesheet" href="~/css/slick-theme.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/responsive.css">
	<link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

}

<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">

	<!-- START SECTION SHOP -->
	<div class="section" style="margin-top:20px">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
					<div class="product-image">
						<div class="product_img_box">
							<img id="product_img" src="@("/Admin/Img/ProductAvt/"+Model.ProductImgAvt)" alt="@Model.Name" />
							<a href="#" class="product_img_zoom" title="Zoom">
								<span class="linearicons-zoom-in"></span>
							</a>
						</div>
						<div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="pr_detail">
						<div class="product_description">
							<h4 class="product_title"><a href="#">@Model.Name</a></h4>
							<div class="product_price">
								<span class="price">@Model.OrderPrice.ToString("#,###") VNĐ</span>
							</div>
							<div class="rating_wrap">
								<div class="rating">
									<div class="product_rate" style="width:80%"></div>
								</div>
								<span class="rating_num">(21)</span>
							</div>
							@*<div class="pr_desc">
							<p>@Model.Description</p>
							</div>*@
							<br />
							<div class="product_sort_info" style="margin-top:20px">
								<ul>
									<li><i class="linearicons-shield-check"></i><b>Thương hiệu:</b> @Model.Brand.Name  </li> <!-- thêm dữ liệu vào nhá -->
									<li><i class="linearicons-check"></i><b>Loại:</b> @Model.Category.Name </li> <!-- thêm dữ liệu vào nhá -->
									<li><i class="linearicons-sync"></i> Hoàn trả trong 7 ngày</li>
									<li><i class="linearicons-bag-dollar"></i> Có thể thanh toán bằng paypal</li> <!-- thêm dữ liệu vào nhá -->
								</ul>
							</div>
							<hr />
							<div class="cart_extra">
								<h6>Số lượng</h6>

								<div class="cart-product-quantity d-flex m-lg-2 ">
									<div class="quantity">
										<input type="button" value="-" class="minus">
										<input type="text" id="txtsoLuong" name="txtsoLuong" value="1" title="Qty" class="qty" size="4">
										<input type="button" value="+" class="plus">
									</div>
									<div style="margin-left:15px;margin-top:10px">
										<ul>
											<li><i> số lượng trong kho: @Model.Quantity</i></li>
										</ul>

									</div>
								</div>
							</div>
							<hr />
							<div class="d-flex">
								<div class="cart_extra">
									<div class="add-to-cart">
										<button class="btn btn-fill-out btn-addtocart" type="button"><i class=""></i>Thêm vào giỏ hàng</button>
										@*<a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
										<a class="add_wishlist" href="#"><i class="icon-heart"></i></a>*@
										<input hidden class="Id" asp-for="Id" />
									</div>
								</div>
								<div class="cart_extra m-3">
									<div class="add-to-cart-now">
										@if (Model.Quantity >= 1)
										{					
										<a class="btn btn-fill-out btn-addtocart" asp-area="" asp-controller="ShoppingCart" asp-action="OrderNow" asp-route-productID="@Model.Id"><i class="icon-basket-loaded"></i>Mua ngay</a>
										}
										@*<a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
										<a class="add_wishlist" href="#"><i class="icon-heart"></i></a>*@
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="large_divider clearfix"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="tab-style3">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Mô tả</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Đánh giá (2)</a>
								</li>
							</ul>
							<div class="tab-content shop_info_tab">
								<div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
									<p>@Model.Description</p>

								</div>
								<div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
									<div class="comments">
										<h5 class="product_tab_title">2 Review For <span>Combo1</span></h5>
										<ul class="list_none comment_list mt-4">
											<li>
												<div class="comment_img">
													<img src="~/images/user1.jpg" alt="user1" />
												</div>
												<div class="comment_block">
													<div class="rating_wrap">
														<div class="rating">
															<div class="product_rate" style="width:80%"></div>
														</div>
													</div>
													<p class="customer_meta">
														<span class="review_author">aaaa</span>>
														<span class="comment-date">March 5, 2023</span>
													</p>
													<div class="description">
														<p>Combo thức ăn chó Combo thức ăn chóCombo thức ăn chóCombo thức ăn chóCombo thức ăn chóCombo thức ăn chó</p>
													</div>
												</div>
											</li>
											<li>
												<div class="comment_img">
													<img src="~/images/user2.jpg" alt="user2" />
												</div>
												<div class="comment_block">
													<div class="rating_wrap">
														<div class="rating">
															<div class="product_rate" style="width:60%"></div>
														</div>
													</div>
													<p class="customer_meta">
														<span class="review_author">aabbbbba</span>
														<span class="comment-date">June 17, 2023</span>
													</p>
													<div class="description">
														<p>Combo thức ăn chó Combo thức ăn chóCombo thức ăn chóCombo thức ăn chóCombo thức ăn chóCombo th</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="review_form field_form">
										<h5>Add a review</h5>
										<form class="row mt-3">
											<div class="form-group col-12">
												<div class="star_rating">
													<span data-value="1"><i class="far fa-star"></i></span>
													<span data-value="2"><i class="far fa-star"></i></span>
													<span data-value="3"><i class="far fa-star"></i></span>
													<span data-value="4"><i class="far fa-star"></i></span>
													<span data-value="5"><i class="far fa-star"></i></span>
												</div>
											</div>
											<div class="form-group col-12">
												<textarea required="required" placeholder="Your review *" class="form-control" name="message" rows="4"></textarea>
											</div>
											<div class="form-group col-md-6">
												<input required="required" placeholder="Enter Name *" class="form-control" name="name" type="text">
											</div>
											<div class="form-group col-md-6">
												<input required="required" placeholder="Enter Email *" class="form-control" name="email" type="email">
											</div>

											<div class="form-group col-12">
												<button type="submit" _onclick="toSubmit()" class="btn btn-fill-out" name="submit" value="Submit">Submit Review</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="small_divider"></div>
						<div class="divider"></div>
						<div class="medium_divider"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="heading_s1">
							<h3>Sản phẩm liên quan</h3>
						</div>
						<div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
							<div class="item">
								@foreach (var item in ViewBag.SameProduct)
								{

									<div class="product">
										<div class="product_img">
											<a href="shop-product-detail.html">
												<img src="@("/Admin/Img/ProductAvt/"+item.ProductImgAvt)" alt="@item.Name">
											</a>
											<div class="product_action_box">
												<ul class="list_none pr_action_btn">
													<li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
													<li><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-Id="@item.Id"><i class="icon-magnifier-add"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="product_info">
											<h6 class="product_title"><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-Id="@item.Id">@item.Name</a></h6>
											<div class="product_price">
												<span class="price">@item.OrderPrice.ToString("#.###")</span>
											</div>
											<div class="rating_wrap">
												<div class="rating">
													<div class="product_rate" style="width:80%"></div>
												</div>
												<span class="rating_num">(21)</span>
											</div>
										</div>
									</div>
								}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION SHOP -->
	</div>
	<!-- END MAIN CONTENT -->
</div>
<style>
	.btn-fill-out {
		background-color: transparent;
		border: 1px solid #f9a529;
		color: #fff;
		position: relative;
		overflow: hidden;
		z-index: 0;
	}


		.btn-fill-out::before,
		.btn-fill-out::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background-color: #f9a529;
			z-index: -1;
			transition: all 0.3s ease-in-out;
			width: 51%;
		}

		.btn-fill-out::after {
			right: 0;
			left: auto;
		}

		.btn-fill-out:hover:before,
		.btn-fill-out:hover:after {
			width: 0;
		}
</style>
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
@section Scripts{

	<!-- Latest jQuery -->
	<script src="~/js/jquery-3.6.0.min.js"></script>
	<!-- jquery-ui -->
	<script src="~/js/jquery-ui.js"></script>
	<!-- popper min js -->
	<script src="~/js/popper.min.js"></script>
	<!-- Latest compiled and minified Bootstrap -->
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<!-- owl-carousel min js  -->
	<script src="~/owlcarousel/js/owl.carousel.min.js"></script>
	<!-- magnific-popup min js  -->
	<script src="~/js/magnific-popup.min.js"></script>
	<!-- waypoints min js  -->
	<script src="~/js/waypoints.min.js"></script>
	<!-- parallax js  -->
	<script src="~/js/parallax.js"></script>
	<!-- countdown js  -->
	<script src="~/js/jquery.countdown.min.js"></script>
	<!-- imagesloaded js -->
	<script src="~/js/imagesloaded.pkgd.min.js"></script>
	<!-- isotope min js -->
	<script src="~/js/isotope.min.js"></script>
	<!-- jquery.dd.min js -->
	<script src="~/js/jquery.dd.min.js"></script>
	<!-- slick js -->
	<script src="~/js/slick.min.js"></script>
	<!-- elevatezoom js -->
	<script src="~/js/jquery.elevatezoom.js"></script>
	<!-- scripts js -->
	<script src="~/js/scripts.js"></script>
	<script src="~/js/ShoppingCart1.js"></script>
	<script>
		$(document).ready(function () {
			$(function () {
				$(".add-to-cart").click(function () {
					var productid = $(this).find('.Id').val();
					var soLuong = $(document).find('#txtsoLuong').val();
					if (soLuong > @Model.Quantity){
						alert('Tồn kho không đủ');
					}
					else
					if (soLuong < 1) {
						alert('Vui lòng chọn lại số lượng');
						$(document).find('#txtsoLuong').val(1)
					}					
					else {
						$.ajax({
							url: '/api/cart/add',
							type: "POST",
							dataType: "JSON",
							data: {
								productID: productid,
								amount: soLuong
							},
							success: function (response) {
								if (response.result == 'Redirect') {
									window.location = response.url;
								}
								else {
									loadHeaderCart(); //Add Product success
									alert('Thêm vào giỏ hàng thành công');
									location.reload();
								}
								console.log(response); // log to the console to see whether it worked
							},
							error: function (error) {
								alert("There was an error posting the data to the server: " + error.responseText);
							}
						});
						console.log(productid, soLuong)
					}
				});
			});
			function loadHeaderCart() {
				$('#miniCart').load("/AjaxContent/HeaderCart");
				$('#numberCart').load("/AjaxContent/NumberCart");
			}
		});
	</script>

		}
