@{
    ViewData["Title"] = "Trang Chủ";
}
<div class="row">
    <div class="col-md-6 col-lg-4">
        <d iv class="widget-small primary coloured-icon">
            <i class="icon bx bxs-user fa-3x"></i>
            <div class="info">
                <h4>Tổng tài khoản</h4>
                <p><b>@ViewBag.countAccount tài khoản</b></p>
            </div>
        </d>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small info coloured-icon">
            <i class="icon bx bxs-data fa-3x"></i>
            <div class="info">
                <h4>Tổng sản phẩm</h4>
                <p><b>@ViewBag.countProduct sản phẩm</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa-3x bx bxs-tag-x"></i>
            <div class="info">
                <h4>Hết hàng</h4>
                <p><b>@ViewBag.ProductEmty.Count sản phẩm</b></p>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa-3x bx bxs-shopping-bags"></i>
            <div class="info">
                <h4>Tổng đơn hàng</h4>
                <p><b>@ViewBag.countOrder đơn hàng</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small danger coloured-icon">
            <i class="icon fa-3x bx bxs-receipt"></i>
            <div class="info">
                <h4>Đơn hàng hủy</h4>
                <p><b>@ViewBag.countOrderCancel đơn hàng</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa-3x bx bxs-chart"></i>
            <div class="info">
                <h4>Đơn hàng đang giao</h4>
                <p><b>@ViewBag.shippingOrder.Count đơn hàng</b></p>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div>
                <h3 class="tile-title">SẢN PHẨM BÁN CHẠY</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                            <th>Loại</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>71309005</td>
                            <td>Thức ăn hạt Ganador Premium cho CHÓ CON</td>
                            <td>5.600.000 đ</td>
                            <td>Chó cưng</td>
                            <td>Thức ăn hạt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div>
                <h3 class="tile-title">ĐƠN HÀNG MỚI</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">

                    <thead>
                        <tr>
                            <th>ID đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Ngày đặt hàng</th>
                            <th>Tổng tiền</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.newOrder)
                        {                            
                            <tr>
                                
                                <td>@item.Id</td>
                                @if (item.User.UserName != "customer")
                                {
                                    
                                    <td>@item.User.UserName</td>
                                }
                                else
                                {
                                    <td>Khách vãng lai</td>
                                }
                                <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.TotalPrice.ToString("#,###") đ</td>
                                <td><a asp-controller="AdminOrder" asp-action="Details" asp-route-id="@item.Id" asp-route-returnUrl = "Order">Xem đơn hàng</a></td>
                            </tr>
                        }                                           
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile">
            <div>
                <h3 class="tile-title">ĐƠN HÀNG ĐANG GIAO</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">

                    <thead>
                        <tr>
                            <th>ID đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Người nhận</th>
                            <th>Ngày giao hàng dự kiến</th>
                            <th>Tổng tiền</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.shippingOrder)
                        {
                            <tr>

                                <td>@item.Id</td>
                                @if (item.User.UserName != "customer")
                                {

                                    <td>@item.User.UserName</td>
                                }
                                else
                                {
                                    <td>Khách vãng lai</td>
                                }
                                <td>@item.Receiver_FullName</td>
                                <td>@item.ShipDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.TotalPrice.ToString("#,###") đ</td>
                                <td><a asp-controller="AdminOrder" asp-action="Details" asp-route-id="@item.Id" asp-route-returnUrl="Order">Xem đơn hàng</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div>
                <h3 class="tile-title">SẢN PHẨM ĐÃ HẾT HÀNG</h3>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Product product in ViewBag.ProductEmty){

                        
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                                <td>
                                    <img src="@("/Admin/Img/ProductAvt/"+product.ProductImgAvt)" alt="@product.Name" width="100px">
                                </td>
                            <td>@product.Quantity</td>
                            <td><span class="badge bg-danger">Hết hàng</span></td>
                            <td>@product.OrderPrice.ToString("#,###") đ</td>                            
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Admin/js/plugins/chart.js"></script>
}