@model PetHouse.Models.User

@{
	ViewData["Title"] = "Tạo tài khoản nhân viên";	
}
<div class="row">
	<div class="col-md-12">

		<div class="tile">

			<h3 class="tile-title">Tạo mới tài khoản</h3>
			<div class="tile-body">
				<div class="row element-button">
				</div>
				<form asp-controller="AdminAccount" asp-action="Edit" class="row">
					<input hidden asp-for="Id" />
					<div class="form-group col-md-4">
						<label class="control-label">Tên đăng nhập</label>
						<input disabled asp-for="UserName" class="form-control" type="text">
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Họ và tên</label>
						<input disabled asp-for="FullName" class="form-control" type="text" required>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Email</label>
						<input asp-for="Email" class="form-control" type="text" required>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Địa chỉ thường trú</label>
						<input disabled asp-for="Address" class="form-control" type="text" required>
					</div>
					<div class="form-group  col-md-4">
						<label class="control-label">Số điện thoại</label>
						<input asp-for="PhoneNumber" class="form-control" type="number" required>
					</div>
				</form>
				<div class="row">
					<div class="col-xl-9">
						@if (ViewBag.Order != null)
						{							
							<div class="table-responsive wishlist_table">
								<table class="table">
									<thead>
										<tr>
											<th>ID</th>
											<th>Ngày mua hàng</th>
											<th>Ngày ship hàng</th>
											<th>Trạng thái</th>
											<th>Tổng tiền</th>
											<th>#</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in ViewBag.Order)
										{
											<tr>
												<td><a class="account-order-id" href="javascript:void(0)">#@item.Id</a></td>
												<td>@item.OrderDate</td>
												<td>@item.ShipDate</td>
												@switch (item.OrderStatus)
												{
													case 1:
														{
															<td class="product-stock-status" data-title="Trạng thái"><span class="badge badge-pill badge-secondary">Đang giao</span></td>
															break;
														}
													case 2:
														{
															<td class="product-stock-status" data-title="Trạng thái"><span class="badge badge-pill badge-primary">Hoàn thành</span></td>
															break;
														}
													case 0:
														{
															<td class="product-stock-status" data-title="Trạng thái"><span class="badge badge-pill badge-success">Đã đặt</span></td>
															break;
														}
													case -1:
														{
															<td class="product-stock-status" data-title="Trạng thái"><span class="badge badge-pill badge-danger">Đã hủy</span></td>
															break;
														}
													default: break;
												}
												<td>	
													@item.TotalPrice.ToString("#,###") VNĐ
												</td>
												<td>
													<a asp-controller="AdminOrder" asp-action="Details" class="xemdonhang" asp-route-id="@item.Id">Xem đơn hàng</a>
												</td>
											</tr>											
										}
									</tbody>
								</table>
								<nav>
									<ul class="pagination">
										<li class="page-item @(ViewBag.Order.HasPreviousPage ? "" : "disabled")">
											<a class="page-link" href="@Url.Action("Details", new { id = Model.Id,page = ViewBag.Order.PageIndex - 1 }))">Previous</a>
										</li>
										@for (int i = 1; i <= ViewBag.Order.TotalPages; i++)
										{
											<li class="page-item @(ViewBag.Order.PageIndex == i ? "active" : "")">
												<a class="page-link" href="@Url.Action("Details", new {id = Model.Id, page = i }))">@i</a>
											</li>
										}
										<li class="page-item @(ViewBag.Order.HasNextPage ? "" : "disabled")">
											<a class="page-link" href="@Url.Action("Details", new {id = Model.Id, page = ViewBag.Order.PageIndex + 1 }))">Next</a>
										</li>
									</ul>
								</nav>
							</div>
						}
						else
						{							
							<p>Chưa có đơn hàng!</p>
						}
					</div>					
				</div>
			</div>			
		</div>
	</div>
</div>
