@using PetHouse.Areas.Admin.ViewModel;
@model PetHouse.Models.Import

@{
	ViewData["Title"] = "Thêm phiếu nhập mới";
}
<div class="row">
	<div class="col-md-12">

		<div class="tile">

			<h3 class="tile-title">Điền thông tin phiếu nhập</h3>
			<form method="post" id="inputform" class="tile-body">
				<div class="row element-button">
				</div>
				<div class="row">
					<div class="form-group  col-md-4">
						<label class="control-label">Nhà cung cấp:</label>
						<select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
					</div>
					<div class="form-group  col-md-4">
						<label class="control-label">Ngày tạo:</label>
						<input type="date" asp-for="CreateDate" class="form-control">
					</div>
					<div class="container">
						<div class="row">
							<div class="">
								@*<a onclick="AddItem(this)" class="btn btn-primary" id="addSP">Thêm</a>*@
								<div id="sp">
									<table class="table table-hover table-bordered sampleTable" id="sampleTable">
										<thead>
											<tr>

												<th width="120">Mã sản phẩm</th>
												<th width="500">Tên sản phẩm</th>
												<th width="110">Số lượng</th>
												<th width="200">Giá nhập</th>
												<th width="300">Thành tiền</th>
												
											</tr>
										</thead>
										<tbody class="list">
											@for (int i = 0; i < Model.ImportDetails.Count; i++)
											{
												<tr>
													<td>
														<input asp-for="@Model.ImportDetails[i].ProductId" value="@Model.ImportDetails[i].Product.Id" class="form-control" />
													</td>
													<td>
														@Model.ImportDetails[i].Product.Name
													</td>
													<td>
														<input asp-for="@Model.ImportDetails[i].Quantity" class="form-control" />
														<span asp-validation-for="@Model.ImportDetails[i].Quantity" class="text-danger"></span>
													</td>
													<td>
														<input asp-for="@Model.ImportDetails[i].Price" class="form-control" />
														<span asp-validation-for="@Model.ImportDetails[i].Price" class="text-danger"></span>
													</td>
													@*<td>
														<input class="form-control subprice" readonly />
													</td>
													<td class="remove">
														<button onclick="DeleteItem(this)" class="removeItem btn btn-primary btn-sm trash" type="button" title="Xóa">
															<i class="fas fa-trash-alt"></i>
														</button>
													</td>*@
												</tr>
											}
										</tbody>
									</table>
									@*<div style="float: right;margin-right: 70px;">
										<h3>Tổng tiền: 100000 VNĐ</h3>
									</div>*@
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-save" type="submit">Lưu lại</button>
				<a class="btn btn-cancel" asp-action="Index">Hủy bỏ</a>
			</form>
		</div>
	</div>
</div>
