@using PetHouse.Data.Setting
@model IEnumerable<PetHouse.Models.Import>

@{
    ViewData["Title"] = "Quản lý danh mục/Trang ";
}

@*<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ImportDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PaymentStatus)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Supplier)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.User)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ImportDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PaymentStatus)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Supplier.Address)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.User.Id)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>*@
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="tile-body">
				<div class="row element-button">
					<div class="col-sm-2">

						<a class="btn btn-add btn-sm" asp-action="Create" title="Thêm">
							<i class="fas fa-plus"></i>
							Tạo mới sản phẩm
						</a>
					</div>
				</div>
				<table class="table table-hover table-bordered" id="sampleTable">
					<thead>
						<tr>
							<th>STT</th>
							<th>Mã phiếu</th>
							<th>Nhà cung cấp</th>
							<th>Ngày nhập</th>
							<th>Tổng tiền</th>

							<th>Người tạo phiếu</th>
							<th>Trạng thái</th>
							<th>Tính năng</th>
							<th>Thương hiệu</th>
							<th>Chức năng</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>1</td>
								<td>@item.Id</td>
								<td>@item.SupplierId</td>
								<td>@item.UserId</td>
								<td>@item.ImportDate</td>
								<td>@item.PaymentStatus</td>
								@{
									if (item.PaymentStatus == -1)
									{
										<td><span class="badge bg-danger">Block</span></td>
									}
									else
									{
										<td><span class="badge bg-success">Active</span></td>
									}
								}
								<td class="table-td-center">
									@{
										if (item.Status == 1)
										{
											<a id="@item.Id" onclick="toDelete(this)" class="btn btn-primary btn-sm trash" title="Xóa">
												<i class="fas fa-trash-alt"></i>
											</a>
										}
										else
										{
											<a id="@item.Id" onclick="toActive(this)" class="btn btn-success btn-sm" title="Xóa">
												<i class="fas fa-undo"></i>
											</a>
										}
									}

									<a asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary btn-sm edit" title="Sửa">
										<i class="fas fa-edit"></i>
									</a>
									<a asp-route-id="@item.Id" asp-action="Details" class="btn btn-primary btn-sm edit" title="Chi tiết">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		function toDelete(element) {
			let choice = confirm("Bạn có muốn khoá?")
			if (choice == true) {
				var url = '@Url.Action("DeleteConfirmed", "Products")?id=' + element.id;
				window.location.href = url;
			}
		}
		function toActive(element) {
			let choice = confirm("Bạn có muốn kích hoạt?")
			if (choice == true) {
				var url = '@Url.Action("ActiveConfirmed", "Products")?id=' + element.id;
				window.location.href = url;
			}
		}
	</script>
}