@using PetHouse.Data.Setting;
@model PaginatedList<PetHouse.Models.Product>

@{
	ViewData["Title"] = "Quản lí sản phẩm";
}

<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="tile-body">
				<div class="row element-button">
					<div class="col-sm-2">

						<a class="btn btn-add btn-sm" asp-action="Create" title="Thêm">
							<i class="fas fa-plus"></i>
							Tạo mới sản phẩm
						</a>
						<a class="btn btn-add btn-sm" asp-controller="AdminCategories" asp-action="Index" title="Danh mục">
							<i class="fas fa-plus"></i>
							Xem danh mục sản phẩm
						</a>
						<a class="btn btn-add btn-sm" asp-controller="AdminBrands" asp-action="Index" title="Thương hiệu">
							<i class="fas fa-plus"></i>
							Xem thương hiệu
						</a>
					</div>
				</div>
				<table class="table table-hover table-bordered" id="sampleTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Tên sản phẩm</th>
							<th>Hình ảnh</th>
							<th>Số lượng</th>
							<th>Tình trạng</th>
							
							<th>Giá bán</th>
							<th>Danh mục</th>						
							<th>Loại</th>
							<th>Thương hiệu</th>
							<th>Chức năng</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>					
								<td>@item.Id</td>
								<td>@item.Name</td>	
								<td>
									<img src="@("/Admin/Img/ProductAvt/"+item.ProductImgAvt)" alt="@item.Name" width="100px">
								</td>
								<td>@item.Quantity</td>
								@{
									if (item.Status==-1)
									{
										<td><span class="badge bg-danger">Block</span></td>
									}
									else
									{
										<td><span class="badge bg-success">Active</span></td>
									}
								}
								
								<td>@item.OrderPrice.ToString("#,###") VNĐ</td>
								@foreach (var p in ViewBag.CategoryParent)
								{
									if (item.Category.ParentId == p.Id&&!item.Category.isParent)
									{
										<td>@p.Name</td>
									}
								}

								<td>@item.Category.Name</td>
								<td>@item.Brand.Name</td>

								<td class="table-td-center">
									@{
										if (item.Status==1)
										{
											<a id="@item.Id" onclick="toDelete(this)" class="btn btn-primary btn-sm trash" title="Xóa">
												<i class="fas fa-trash-alt"></i>
											</a>
										}
										else
										{
											<a id="@item.Id" onclick="toActive(this)" class="btn btn-success btn-sm" title="Xóa">
												<i class="fas fa-undo"></i>
											</a>
										}
									}

									<a asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary btn-sm edit" title="Sửa">
										<i class="fas fa-edit"></i>
									</a>
									<a asp-route-id="@item.Id" asp-action="Details" class="btn btn-primary btn-sm edit" title="Chi tiết">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<nav>
					<ul class="pagination">
						<li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
							<a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex - 1 })">Previous</a>
						</li>
						@for (int i = 1; i <= Model.TotalPages; i++)
						{
							<li class="page-item @(Model.PageIndex == i ? "active" : "")">
								<a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
							</li>
						}
						<li class="page-item @(Model.HasNextPage ? "" : "disabled")">
							<a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex + 1 })">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		function toDelete(element) {
			let choice = confirm("Bạn có muốn khoá?")
			if (choice == true) {
				var url = '@Url.Action("DeleteConfirmed", "Products")?id=' + element.id;
				window.location.href = url;
			}
		}
		function toActive(element) {
			let choice = confirm("Bạn có muốn kích hoạt?")
			if (choice == true) {
				var url = '@Url.Action("ActiveConfirmed", "Products")?id=' + element.id;
				window.location.href = url;
			}
		}
	</script>
}