@model IEnumerable<PetHouse.Models.User>

@{
	ViewData["Title"] = "Quản lý tài khoản nhân viên";
}
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="tile-body">

				<div class="row element-button">
					<div class="col-sm-2">

						<a class="btn btn-add btn-sm" href="form-add-user.html" title="Thêm">
							<i class="fas fa-plus"></i>
							Tạo mới tài khoản
						</a>
					</div>
				</div>
				<table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
					   id="sampleTable">
					<thead>
						<tr>							
							<th>Tên đăng nhập</th>
							<th>Họ và Tên</th>
							<th width="150">SĐT</th>
							<th>Email</th>
							<th>Địa chỉ</th>
							<th>Trạng thái</th>
							<th width="200">Tính năng</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>

								<td>@item.UserName</td>
								<td>@item.FullName</td>
								<td>@item.PhoneNumber</td>
								<td>@item.Email</td>
								<td>@item.Address</td>
								@{
									if (item.Status == -1)
									{
										<td><span class="badge bg-danger">Block</span></td>
									}
									else
									{
										<td><span class="badge bg-success">Active</span></td>
									}
								}
								<td class="table-td-center">
									@{
										if (item.Status == 1)
										{
											<a id="@item.Id" onclick="toDelete(this)" class="btn btn-primary btn-sm trash" title="Xóa">
												<i class="fas fa-trash-alt"></i>
											</a>
										}
										else
										{
											<a id="@item.Id" onclick="toActive(this)" class="btn btn-success btn-sm" title="Xóa">
												<i class="fas fa-undo"></i>
											</a>
										}
									}

									<a asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary btn-sm edit" title="Sửa">
										<i class="fas fa-edit"></i>
									</a>
									<a asp-route-id="@item.Id" asp-action="Details" class="btn btn-primary btn-sm edit" title="Chi tiết">
										<i class="fas fa-edit"></i>
									</a>
								
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		function toDelete(element) {
			let choice = confirm("Bạn có muốn khoá?")
			if (choice == true) {
				var url = '@Url.Action("DeleteConfirmed", "Brands")?id=' + element.id;
				window.location.href = url;
			}
		}
		function toActive(element) {
			let choice = confirm("Bạn có muốn kích hoạt?")
			if (choice == true) {
				var url = '@Url.Action("ActiveConfirmed", "Brands")?id=' + element.id;
				window.location.href = url;
			}
		}
	</script>
}